// @include clearfix;
@mixin clearfix {
 // For modern browsers
  &:before,
  &:after {
    content:" ";
    display:table;
  }

  &:after {
    clear:both;
  }

  // For IE 6/7 (trigger hasLayout)
  & {
    *zoom:1;
  }
}
// @include transition;
@mixin transition {
  -webkit-transition: All 0.4s ease;
  -moz-transition: All 0.4s ease;
  -o-transition: All 0.4s ease;
  -ms-transition: All 0.4s ease;
  transition: All 0.4s ease;
}


//uzamasana
// @include uzama;
@mixin uzama {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
// PX to EM
@function pxToEm($size) {
    @return $size / $base-font-size + em;
}

@mixin center($width, $height) {
    position: absolute;
    left: 50%;
    top: 50%;
    height: $height;
    width: $width;
    margin-left: - $width / 2;
    margin-top: - $height / 2;
}

@mixin linear-gradient($firstColor, $secondColor) {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$firstColor), color-stop(100%,$secondColor));
    background: -webkit-linear-gradient(top,  $firstColor 0%,$secondColor 100%);
}


// Edited from Retina single https://gist.github.com/twe4ked/1432554
// Example
// #foo {
//   @include background-image-retina('foobar', 'png', 10px, 20px);
//   background: repeat;
// }
@mixin background-image-retina($file, $type, $width, $height) {
  background-image: url('../images/'+$file + '.' + $type);


  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 144dpi) {
    & {
      background-image: url('../images/'+$file + '@2x.' + $type);
      -webkit-background-size: $width $height;
      -moz-background-size: $width $height;
      -o-background-size: $width $height;
      background-size: $width $height;
    }
  }
}


// responsive
// @include media-desktop {}
@mixin media-phone {
    @media all and (max-width: 640px) {
        @content;
    }
}
@mixin media-tablet {
    @media all and (min-width: 768px) and (max-width: 1023px) {
        @content;
    }
}

@mixin media-desktop {
    @media all and (min-width: 1024px) and (max-width: 1223px) {
        @content;
    }
}

@mixin media-desktopx {
    @media all and (min-width: 1224px)  {
        @content;
    }
}

.clear:before,.clear:after {
  content: " ";
  display: table;
}

.clear:after {
  clear: both;
}

.clear {
  *zoom: 1;
  clear: both;
}
