section.aboutUs{
	width: 100%;
	overflow:hidden;
	background-color: #fff;
	padding:3% 0;
	h1{
		color: #333;
		font-size: 24px;
		display: block;
		border-bottom:1px solid #dde2e5;
		padding-bottom: 25px;
		margin-bottom: 25px;
	}
	p{
		display: block;
		width: 100%;
		color: #333;
		font-size: 14px;
		line-height:22px;
	}
	.col-1-4 > img{
		margin-top: 60px;
	}
}
