section.mailing{
	width: 100%;
	height: auto;
	background-color: #f2f3f4;
	display: block;
	padding: 5% 0;
	form{
		.right{
			float: right;
		}
		label{
			color: #81898d;
			font-size: 36px;
				@include media-tablet {
					font-size: 28px;
				}
		}
		input{
			border:none;
			box-shadow: 0;
			border-radius:0;
			font-weight: normal;
			height: 52px;
			border: 1px solid #d3dce3;
			background-color: #fff;
			font-size: 20px;
			width: 95%;
			padding-left: 5%;
			@include media-phone {
				width: 100%;
				margin-bottom: 5px;
			}
			@include media-tablet {
				width: 100%;
				margin-bottom: 5px;
			}
		}
		a{
			height: 52px;
			width: 100%;
			display: block;
			background-color: #2eb26c;
			color: #fff;
			font-size: 15px;
			font-weight: bold;
			text-align: center;
			line-height: 52px;
			margin-left: 3%;
			&:hover{
				background-color: darken(#2eb26c, 5%)
			}
			@include media-phone {
				margin-left: 0;
			}
			@include media-tablet {
				margin-left: 0;
			}
		}
	}
}
