.tableModule{
	width: 100%;
	overflow:hidden;
	background-color: #fff;
	padding:1% 0;
	margin-bottom: 3%;
	h1{
		color: #333;
		font-size: 24px;
		font-weight: 500;
		width: 100%;
		display: block;
		border-bottom:1px solid #dde2e5;
		padding-bottom: 26px;
	}
	li{
		 a{
			height: 60px;
			line-height: 60px;
			color: #333;
			font-size: 14px;
			padding-left: 10px;
			&:hover{
				color: #0f85c2;
			}
		}
		&:nth-child(6n+4) a,
		&:nth-child(6n+5) a,
		&:nth-child(6n) a{
			background-color:#f0f2f4;
		}
	}

}
