article.welcome{
	@include background-image-retina('bg_logo', 'png', 356px, 320px);
	background-position:center;
	background-repeat:no-repeat;
	color: #333;
	font-size: 14px;
	.grid{
		overflow: visible;
		position: relative;
		padding: 0 20px 20px 90px;
	}
	p{
		margin-bottom: 20px;
		&:first-of-type{
			font-size: 18px;
		}
	}
	h1{
		color: #333;
		font-size: 24px;
		font-weight: bold;
		border-bottom:1px solid #dde2e5;
		padding: 3% 0 2% 0;
		margin-bottom:2%;
	}
	.pGroup{
		position: relative;
		margin-left: -90px;
		padding-left: 90px;
	}
}
